.about {
    background: $white;
    max-width: 100%;

    &-title {
        max-width: 60rem;
        margin-left: 2rem;
        padding-right: 1rem;

        h1 {
            align-self: start;
        }
    }

    &-description {
        max-width: 60rem;
        margin: 0px 2rem;

    }
}