.degree {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
        position: absolute;

    }

    &::before {
        content: "";
        background-image: url("/Images/250x250.png");
        width: 250px;
        height: 250px;

    }
}