.degrees {
    background: $offWhite;

    &-title {
        font-size: 2.1875rem;
        font-weight: 400;
    }
}

.degree {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 200px;

    
    transition: all 200ms ease-in-out;

    @media only screen and (min-width: 1024px){
        &:hover {
            transform: scale(1.035);
        }
        
    }

    &-title {
        position: absolute;
        text-decoration: none;
    }

    &::before {
        content: "";
        background-image: url("/Images/250x250.png");
        width: 100%;
        height: 100%;   

    }
}