.footer {
    display: inline-block;
    width: 100%;
    background: $gray;
    color: $white;

    text-align: center;

    a {
        color: $lighterGray;
        transition: color 200ms ease-in-out;

        &:hover {
            color: $white;

        }
    
    }

    @media only screen and(min-width: 767px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "logo links1 links2";
        justify-items: center;
        
    }

    &-logo {
        display: inline-block;
        max-width: 85px;
        max-height: 85px;

    }

    &-links {
        &-1 {
            display: flex;
            flex-direction: column;
            gap: 1.1875rem;
            margin-bottom: 1.1875rem;

            @media only screen and(min-width: 767px) {
                grid-area: links1;
                align-self: center;
                margin-bottom: 0;
                padding: 20px 0px;
            }

        }

        &-2 {
            display: flex;
            flex-direction: column;
            gap: 1.1875rem;
            margin-bottom: 3.125rem;

            @media only screen and(min-width: 767px) {
                grid-area: links2;
                align-self: center;
                margin-bottom: 0;
                padding: 10px 0px;
            }

        }

    }

}

.logo-container {
    padding: 1.125rem 0px 0.8125rem 0.0625rem;

    @media only screen and(min-width: 767px) {
        grid-area: logo;
        align-self: center;
    }
}