.header {
    position: sticky;
    top: 0px;
    background: $white;

    //Add box-shadow here to differentiate between header and rest of site

    z-index: 2;

    &-overlay {
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 81px;
        background: linear-gradient(to bottom, $gray, $lightGray, $white);
        opacity: 0;
        visibility: hidden;
        transition: all 300ms ease-in-out;

        &-toggle {
            visibility: visible;
            opacity: 0.8;
        }

    }
    
    &_logo {
        max-width: 4.5625rem;
        max-height: 4.5625rem;
        margin-left: 1.875rem;
        margin-top: 0.5rem;

        img {
            max-width: 4.5625rem;
            max-height: 4.5625rem;
        }

    }
    
    &_hamburger {    
        margin-right: 2.125rem;

        > span {
            display: block;
            width: 1.8125rem;
            height: 0.1875rem;
            border-radius: 1px;
            background: $gray;

            &:not(:last-child) {    
                margin-bottom: 5px;

            }
        }

        @media only screen and (min-width: 992px) {
            display: none;
        }

    }

    &_desktop-links {
        margin-right: 9.375rem;
        position: relative;

        a {
            position: relative;

            font-size: 1.125rem;

            font-weight: 400;
            text-decoration: none;
            color: $lightGray;  
            
            transition: all 200ms ease-in-out;
            
            &::before {
                content: "";

                display: block;

                position: absolute;
                left: -0.25rem;
                right: -0.25rem;
                bottom: -0.125rem;

                border-bottom: 3px solid $gray;

                transform: scaleX(0%);

                transition: all 200ms ease-in-out;

            }

            &:not(:last-child) {
                margin-right: 5rem;
            }

            &:hover {
                color: $gray;

                &::before{
                    transform: scaleX(100%);
                }

            }

        }

        @media only screen and (max-width: 991px) {
            display: none;
            
        }

        @media only screen and (min-width: 992px) {
            margin-right: 6.25rem;

            a {
                font-size: 1rem;

                &:not(:last-child) {
                    margin-right: 4rem;
                }
            }
            
        }

        @media only screen and (min-width: 1024px) {
            margin-right: 6.875rem;

            a {
                font-size: 1rem;

                &:not(:last-child) {
                    margin-right: 3.9375rem;
                }
            }
            
        }

        @media only screen and (min-width: 1440px) {
            margin-right: 9.375rem;

            a {
                font-size: 1.125rem;

                &:not(:last-child) {
                    margin-right: 5rem;
                }
            }

        }

    }

    &_mobile-links {
        position: absolute;
        justify-content: space-evenly;
        align-self: center;
        text-align: center;

        height: 17.8125rem;
        width: 18.75rem;
        margin-top: 1.6875rem;
        top: 4.4rem;
        transform: translateX(-500%);
        transition: transform 600ms ease-in-out;

        border-radius: 7px;
        background: $white;

        @media only screen and (min-width: 992px) {
            display: none;
        }

    }

    &_toggle {
        transform: translateX(0%);

    }

    &_links {
        flex: 1;

    }



}
