.hero {
    background: $offWhite;

    width: 100%;
    z-index: 1;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    &-text {
        position: relative;
        max-width: 28.75rem;
        margin-left: 2rem;

        h1 {
            padding-right: 0.125rem;
            line-height: 1.55;
            font-size: 2.25rem;

        }

        p {
            padding-right: 2.6875rem;
            line-height: 1.8;

        }

        // @media only screen and (min-width: 767px) {
        //     margin-left: 5rem;
            
        // }

        // @media only screen and (min-width: 1023px) {
        //     margin-left: 7rem;
            
        // }

        // @media only screen and (min-width: 1439px) {
        //     margin-left: 18rem;
            
        // }

    }

    &-ib {
        margin-top: 1.25rem;
        
    }

    @media only screen and(min-width: 767px) {
        
    }


}