.stintro {
    &-text {
        max-width: 55rem;

        h1 {
            margin: auto 2.5rem;
            padding: 2rem 0px 1.7rem 0px;
            font-size: 2.5rem;

            @media only screen and(min-width: 767px) {
                margin-right: 0px;
                margin-left: 4rem;
            }

            @media only screen and(min-width: 1023px) {
                margin: 0px;
            }

        }

        p {
            margin-left: 2.5rem;
            margin-right: 4rem;

            @media only screen and(min-width: 767px) {
                margin-right: 3.4rem;
                margin-left: 4rem;
            }

            @media only screen and(min-width: 1023px) {
                margin: 0px;
            }
            
        }

    }

    &-banner {
        width: 100%;
        height: 26.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        
        @media only screen and (min-width: 1023px) {
            height: auto;
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;
            padding: 2.5rem 0px 3rem 0px;
        }
    }

    &-actlogo {
        height: 5rem;
        margin-bottom: 0.625rem;
    }

    &-satlogo {
        height: 6.5625rem;
    }

    &-aplogo {
        height: 6.5625rem;

    }
}

.test {
    width: 100%;
    margin: 0;

    &-i {
        max-width: 55rem;
        text-align: left;

        
        h1 {
            margin: auto 2.5rem;
            padding: 5.0625rem 0px 1.7rem 0px;
            font-size: 2.5rem;

            @media only screen and (min-width: 767px) {
                padding: 5.07rem 0px 1.7rem 4rem;
                font-size: 2.5rem;
                margin: 0;
            }

            @media only screen and(min-width: 1023px) {
                padding: 5.07rem 0px 1.7rem 0px;
                font-size: 2.5rem;
                margin: 0;
            }
        }

        h3 {
            font-weight: 600;
            color: $gray;
            margin: 1rem 2.5rem 0px 2.5rem;

            @media only screen and(min-width: 767px) {
                margin-left: 4rem;
            }

            @media only screen and(min-width: 1023px) {
                margin: 0;
            }

        }

        p {
            margin-left: 2.5rem;
            margin-right: 4rem;
            line-height: 2;

            a {
                color: $lightGray;
                font-weight: 400;
                text-decoration: underline;
                transition: color 200ms ease-in-out;

                &:hover {
                    color: $black;
                }
            }

            @media only screen and(min-width: 767px) {
                margin-right: 3.4rem;
                margin-left: 4rem;
            }

            @media only screen and(min-width: 1023px) {
                margin: 1.25rem 0px;
            }
            
        }

        figcaption {
            font-size: 0.8rem;
        }

        > div {
            margin-bottom: 5.5rem;
        }

    }

}


#act {
    background-color: $offWhite;
}


#sat {
    background-color: $white;

    &-dash{
        max-width: 100%;
        margin: 1.25rem 0px;

    }

    &-card {
        max-width: 65%;
        max-height: 65%;
        margin: 1.25rem 0px;
    }


}

#ap {
    background-color: $offWhite;
}

