//Colors
$white: rgb(255, 255, 255);
$offWhite: rgb(241, 241, 241);
$lightestGray: rgb(233, 233, 233);
$lighterGray: rgb(171, 181, 186); 
$lightGray: rgb(2, 82, 75);
$gray: rgb(37, 52, 57);
$black: rgb(0, 0, 0);
$p-text: rgba(2, 82, 75, 0.646);
$pTextDark: rgba(2, 82, 75, 0.802);
$h3-text:rgb(11, 95, 86)