.degree {
    &::before {
        display: block;
        height: 100%;
        position: absolute;
        left: 0px;
        right: 0px;
        background-image: url("/Images/250x250.png");

    }

}